# dependencies
node_modules/
.next/
dist/

# package managers
.pnpm-store/
package-lock.json

# environment variables
.env
.env.local
.env.docker

# testing files
test-socket.js
testmail.js

# docs
doc.md
real-time-architecture.md